body {
    font-family: 'Raleway', sans-serif;
    background-color: #222;
}

.maintenance-placeholder {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.maintenance-placeholder h1, .maintenance-placeholder p {
    color: white;
    text-align: center;
    text-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.5);
}

@keyframes animatedBackground {
    from {
        transform: rotate(15deg) translateY(0);
    }
    to {
        transform: rotate(15deg) translateY(21em);
    }
}

@keyframes rollingSquare {
    0% { transform: translate(-2em, 0) rotate(0deg); }
    50% { transform: translate(2em, 0) rotate(360deg); }
    100% { transform: translate(-2em, 0) rotate(0deg); }
}

.tiled-pineapples {
    margin: 0;
    padding: 0;
    position: fixed;
    top: -100%;
    left: -50%;
    width: 200%;
    height: 250%;
    overflow: hidden;
    z-index: -100;

    opacity: 0.5;

    background-image: url('assets/pineapple.svg ');
    background-size: 26.46em 21em;

    transform: rotate(15deg);
    animation: animatedBackground 2.5s linear infinite;
}

.loading-square-container {
    display: flex;
    justify-content: center;
}

.loading-square {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: #f92672;
}

.loading-square-container .loading-square {
    animation: rollingSquare 1.5s cubic-bezier(.17, .37, .43, .67) infinite;
}