body {
    font-family: 'Raleway', sans-serif;
    background-color: #222;
}


h1.placeholder {
    padding: 4em;
    color: white;
    text-align: center;
}

@keyframes animatedBackground {
    from {
        transform: rotate(15deg) translateY(0);
    }
    to {
        transform: rotate(15deg) translateY(21em);
    }
}

#tiled-pineapples {
    margin: 0;
    padding: 0;
    position: fixed;
    top: -100%;
    left: -50%;
    width: 200%;
    height: 250%;
    overflow: hidden;
    z-index: -100;

    opacity: 0.5;

    background-image: url('assets/pineapple.svg ');
    background-size: 26.46em 21em;

    transform: rotate(15deg);
    animation: animatedBackground 2.5s linear infinite;
}